/**
 * @file
 * CSS overrides
 */

#outerslide,
#innerslide {
  overflow: visible !important;
}

/**
 * Removing the following rule, would cause the child element's margin(-top) 
 * to be ignored.
 */
#outerslide {
  padding-top: 1px;
}
